.divcss{
    width: 400px;
    height: auto;
    background: #ff0000;
    text-align: center;
    color: #fff;
    margin: auto;
    border: 2px solid #000;
}

.div1{
    width: 400px;
    height: auto;
    background: #ff0000;
    text-align: center;
    color: #fff;
    margin: auto;
    border: 2px solid #000;
}


.div3{
    width: 400px;
    height: auto;
    background: #ff0000;
    text-align: center;
    color: #fff;
    margin: auto;
    border: 2px solid #000;
}