div{
    width: 500px;
    height: auto;
    background: #444;
    margin-top: 13px;
    text-align: center;
    color: #fff;
    margin: auto;
}
.box1{
    width: 500px;
    height: auto;
    background: #000;
    margin-top: 13px;
    text-align: center;
    color: #fff;
    margin: auto;
    overflow: hidden;
    display: none;
}
